<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494089194603-eks5fe384cskaga5t11p2pustqbhotem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494089194603-eks5fe384cskaga5t11p2pustqbhotem</string>
	<key>API_KEY</key>
	<string>AIzaSyCguJIflv8mznupUCFuV_RpkYBUwCyYhDw</string>
	<key>GCM_SENDER_ID</key>
	<string>494089194603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testapplication</string>
	<key>PROJECT_ID</key>
	<string>forjustice1-ee4db</string>
	<key>STORAGE_BUCKET</key>
	<string>forjustice1-ee4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494089194603:ios:42b057c2b858977cbcb52e</string>
</dict>
</plist>